.title {
  font-size: 30px;
  color: rgb(216, 16, 83);
  font-family: Arial, Helvetica, sans-serif;
}

h1.title {
  font-size: 50px;
  font-weight: 700;
  color: rgb(9, 45, 9);
}
.input-padrao {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
}

.enviar {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  margin: 10px;
  color: rgb(9, 45, 9); 
  border: 3px solid rgb(216, 16, 83);
  border-radius: 5px;
  background-color: rgb(216, 16, 83);
  
}